@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
            url('../fonts/SourceSansPro-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-Italic.woff2') format('woff2'),
            url('../fonts/SourceSansPro-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
            url('../fonts/SourceSansPro-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
            url('../fonts/SourceSansPro-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    * { -webkit-tap-highlight-color: transparent; }

    [x-cloak] { @apply hidden; }

    th, td { @apply text-left; }
}

@layer components {
    table.striped {
        @apply border-collapse table-auto w-full border-gray-200;
        th, td { @apply px-2; }
        thead tr {
            th, td { @apply pb-2 align-bottom; }
        }
        tbody tr {
            th, td { @apply py-2 border-t border-gray-200 transition duration-100; }
        }
        tbody tr:nth-child(odd) {
            th, td { @apply bg-gray-50; }
        }
        tbody tr:hover {
            th, td { @apply bg-yellow-50; }
        }
    }

    .text-content {
        h1, h2, h3, p, ul, ol { @apply first:mt-0 last:mb-0; }
        h1 { @apply mb-3 mt-4 text-3xl font-bold; }
        h2 { @apply mt-4 mb-2 text-xl font-bold; }
        h3 { @apply mt-2 mb-1 font-bold; }
        p, ul, ol, table { @apply mb-2; }
        ul, ol { @apply ml-5; }
        ul > li { @apply list-disc; }
        ol > li { @apply list-decimal; }
        a { @apply text-blue-500 hover:text-orange-600; }
        img { @apply max-w-full; }
        hr { @apply my-6; }
        table {
            @apply w-full table-fixed;
            th { @apply font-bold bg-gray-100; }
            th, td { @apply p-2 pr-4 border border-gray-200; }
        }
    }

    .btn { @apply py-3 px-5 bg-slate-600 text-white rounded-md uppercase tracking-wider text-sm hover:bg-slate-700; }

    .link { @apply text-slate-100 hover:text-slate-200; }

}

@layer utilities {
    .text-shadow-sm { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
    .text-shadow { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); }
}